@import "reset2.css";
body {
  font-family: nunito;
}
.kingofbox {
  width: 870px;
  height: 900px;
  background-color: #f3f3f5;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.kingofbox-sun {
  width: 320px;
  height: 805px;
  background-color: #ffffff;
  border-radius: 25px;
  box-shadow: 0 0 20px #eae9ef;
}
.kingofbox-sun__one {
  width: 100%;
  margin-top: 35px;
  padding-bottom: 20px;
  display: flex;
  position: relative;
}
.kingofbox-sun__one i:nth-child(1) {
  position: absolute;
  margin-left: 20px;
}
.kingofbox-sun__one i:nth-child(2) {
  position: absolute;
  margin-left: 280px;
}

#imagefirst {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-left: 120px;
  box-shadow: 0 0 20px orange;
}

.header {
  width: 100%;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header span:nth-child(1) {
  font-size: x-large;
  font-weight: 600;
  padding-bottom: 20px;
}
.header span:nth-child(2) {
  opacity: 0.4;
  font-weight: 600;
  padding-bottom: 40px;
}

.button {
  width: 100%;
  display: flex;
  position: relative;
  padding-bottom: 40px;
}
.button input {
  width: 110px;
  height: 40px;
  border-radius: 20px;
  position: absolute;
  box-shadow: 0 0 5px;
}
.button input:nth-child(1) {
  background-color: #222222;
  color: #d0d0d0;
  border: 0 solid white;
  margin-left: 50px;
}
.button input:last-child {
  background-color: #ffffff;
  color: #bdb9bf;
  border: 0 solid white;
  margin-left: 170px;
  z-index: 1;
}
.button i {
  margin-left: 178px;
  margin-top: 20px;
  z-index: 2;
}

.list {
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.list-one {
  width: 90%;
  height: 70px;
  display: flex;
  align-items: center;
  position: relative;
}
.list-one img {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  position: absolute;
  left: 20px;
  z-index: 1;
}
.list-one__title {
  width: 40px;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 85px;
}
.list-one__title span:first-child {
  opacity: 0.3;
  font-weight: 600;
}
.list-one__title span:last-child {
  opacity: 0.8;
  font-weight: 600;
}
.list-one i:first-child {
  position: absolute;
  left: 31px;
  z-index: 2;
  color: white;
}
.list-one i:last-child {
  position: absolute;
  left: 265px;
}
