@import "reset2.css";
@import "c7left.css";
@import "c7right.css";

body {
  font-family: nunito;
}
.kingofbox {
  width: 870px;
  height: 900px;
  background-color: #f3f3f5;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.kingofbox-sun {
  width: 320px;
  height: 700px;
  background-color: #ffffff;
  border-radius: 40px;
  box-shadow: 0 0 20px #eae9ef;
}
.title-icon {
  width: 100%;
  margin-top: 35px;
  padding-bottom: 20px;
  display: flex;
  position: relative;
}
.title-icon i:nth-child(1) {
  position: absolute;
  margin-left: 20px;
}
.title-icon i:nth-child(2) {
  position: absolute;
  margin-left: 280px;
}

.header {
  width: 100%;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header span:nth-child(1) {
  font-size: x-large;
  font-weight: 600;
  padding-bottom: 20px;
}
.header span:nth-child(2) {
  opacity: 0.4;
  font-weight: 600;
  padding-bottom: 40px;
}
