#friends-display-link {
  display: block;
  text-align: center;
  background-color: #fafafa;
  padding: 15px 0px;
  margin-bottom: 10px;
}
#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
}
#friends-display-link span {
  color: #2e363e;
  font-weight: 600;
  font-size: 18px;
}
